################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphicscardAvailable
/.vscode
/GraphicscardAvailable.Functions/.vscode
/GraphicscardAvailable.Implementation/bin/Debug/netstandard2.1
/GraphicscardAvailable.Implementation/obj
/GraphicscardAvailable.RazorPages/bin/Debug/net5.0
/GraphicscardAvailable.RazorPages/obj
